<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div class="item-detail" padding>

        <h6></h6>
      </div>
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <img [src]="item.profilePic">
          </ion-thumbnail>

        <h2>{{item.name}}</h2>
        <h4>{{item.about}}</h4>
        <p>{{item.details}}</p>

          <button ion-button clear item-end>View</button>
        </ion-item>
      </ion-list>


            </ion-content>
