<ion-header>

    <ion-navbar>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-navbar>

  </ion-header>

  <ion-content>


         <!-- <ion-input [(ngModel)]="myInput"></ion-input> -->

        <button ion-button color="primary" block (click)="showPrompt()">Comment</button>

              <button ion-button color="primary" block (click)="showAlert()">App Details</button>


            <button ion-button color="primary" block (click)="goMapPage()">Your Map</button>


  </ion-content>
