<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" dir="{{dir}}" effect="cube">
    <ion-slide style="background-color: rgba(12, 243, 243, 0.500)">

      <h2 class="slide-title">Follow Destinations</h2>
      <p>Where your desires are..</p>
    </ion-slide>

    <ion-slide style="background-color: rgba(12, 243, 243, 0.750)">

      <h2 class="slide-title">Follow Experiences</h2>
      <p>Where your emerginations began..</p>
    </ion-slide>

    <ion-slide style="background-color: aqua">

      <h2 class="slide-title">Follow Expectations</h2>
      <p>Where you need to be </p>
    </ion-slide>
    <br>
    <br>
    <br>

    <ion-slide>
      <img src="assets/img/travelerguide2 png.png" class="slide-image" />
      <h2 class="slide-title">{{ 'Traveler Guide' | translate }}</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
