<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CARDS_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding id="block">
  <div class="messageWrap" *ngFor="let message of messageDisplay | async">
    <div [class]="message.email != email ? 'innerMessage messageLeft' :'innerMessage messageRight'"> <!--get messages to right-->
        <div class="message">{{message.message}}</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer">
    <div class="element"><ion-input type="text" [(ngModel)]='message'></ion-input></div>
    <div class="element"><button ion-button (click)="sendMessage()"><ion-icon name="send"></ion-icon></button></div>
  </div>
  </ion-toolbar>
</ion-footer>
